<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<body>
    <h1>New Chat</h1>
    <form action="/chats" method="POST">
        <input type="text" name="from" id="from" placeholder="Who are you"><br><br>
        <textarea name="msg" id="msg" placeholder="Write your Msg"></textarea><br><br>
        <input type="text" name="to" id="to" placeholder="Add Receiver"><br><br> 
        <button type="submit">Create Chat</button>
    </form>
</body>
</html>
